<div class="full-height valign-wrapper">
  <div class="full-width text-center">
    <div *ngIf="!loaded">
      <h2>Cargando...</h2>
      <md-spinner></md-spinner>
    </div>
    <div *ngIf="loaded">
      <h2>Listado de fabricantes de aviones ftw!</h2>
      <ul class="row">
        <li *ngFor="let plane of planes" class="col-sm-full col-lg-2">
          <div class="pill">
            <span class="badge">{{plane.id}}</span>&nbsp;<strong>{{plane.name}}</strong>
          </div>
      </ul>
    </div>
  </div>
</div>

